
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Listado de citas | Medical System</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Select2 -->
        <link href="/calendar/css/select2.min.css" rel="stylesheet" type="text/css"/>
        <!-- Theme style -->
        <link href="/calendar/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
        <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
        <link href="/calendar/css/skin-blue.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="img/icon.png">
        <link href="/calendar/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
        <link href="/calendar/css/datepicker3.css" rel="stylesheet" type="text/css"/>
        <link href="/calendar/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <form  method="post" id="new_register" name="new_register" data-toggle="validator" >
            <!-- Modal -->
            <div class="modal fade" id="modal_register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Nueva Cita</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row ">
                                <div class="col-md-6 form-group">
                                    <label for="fecha">Fecha</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker"  id="fecha" name="fecha" required maxlength="10">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="hora">Hora</label>
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="hora" name="hora" type="text" class="form-control timepicker" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>

                                </div>
                            </div>


                            <div class="row ">
                                <div class="col-md-12  form-group ">
                                    <label for="id_paciente">Paciente</label>
                                    <select class="form-control select2" name="id_paciente" id="id_paciente" required>
                                        <option value="">Selecciona Paciente</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="id_medico">Médico</label>
                                    <select name="id_medico" id="id_medico" class="form-control" required>
                                        <option value="">-- Selecciona --</option>
                                        <option value="25">1sariah 1sariah</option>		
                                        <option value="32">Carlos  Aguirre Salcedo</option>		
                                        <option value="23">Carlos Andres Aguirre Salcedo</option>		
                                        <option value="29">Diana  de la Vega</option>		
                                        <option value="24">Elizabeth Rosalía</option>		
                                        <option value="14">hola hola123</option>		
                                        <option value="13">Irma Rosales</option>		
                                        <option value="9">Jesus Fernandez</option>		
                                        <option value="26">Juan Perez</option>		
                                        <option value="1">juan eeee</option>		
                                        <option value="8">Juan Odebrecht</option>		
                                        <option value="4">Juan Perez</option>		
                                        <option value="2">Juan Cristian Alvarez Damian</option>		
                                        <option value="16">luis cornejos</option>		
                                        <option value="5">luis alonso</option>		
                                        <option value="6">Luis Roma</option>		
                                        <option value="20">mariana lovera</option>		
                                        <option value="7">Mario Odebrecht</option>		
                                        <option value="3">Mario Andres Soto Arce</option>		
                                        <option value="22">messi Acosta</option>		
                                        <option value="27">Miramar Garrido</option>		
                                        <option value="17">peru LOVERA</option>		
                                        <option value="30">pruebas a pruebas b</option>		
                                        <option value="12">ramon23 argañaraz</option>		
                                        <option value="10">rene villa</option>		
                                        <option value="28">RICARDO SÁNCHEZ GARCÍA</option>		
                                        <option value="15">teste teste</option>		
                                        <option value="21">yuikuy yugikyugi</option>		
                                    </select>
                                </div>

                            </div>

                            <div class="row ">

                                <div class="col-md-12 form-group">
                                    <label for="id_consultorio">Consultorio</label>
                                    <select name="id_consultorio" id="id_consultorio" class="form-control" required>
                                        <option value="">-- Selecciona --</option>
                                        <option value="43">1Cofradia</option>		
                                        <option value="35">1Cofradia</option>		
                                        <option value="34">1Montelimar</option>		
                                        <option value="23">2222</option>		
                                        <option value="7">Basic</option>		
                                        <option value="33">BASIC</option>		
                                        <option value="14">basic</option>		
                                        <option value="11">caracas 1</option>		
                                        <option value="15">caracas 1</option>		
                                        <option value="39">CELESTINO FELIX</option>		
                                        <option value="40">Central Juarez</option>		
                                        <option value="42">Cesarrrrr</option>		
                                        <option value="10">COnsukltorio</option>		
                                        <option value="18">CONSULTORIO 1</option>		
                                        <option value="2">Consultorio No 1</option>		
                                        <option value="1">Consultorio No 2</option>		
                                        <option value="16">Consultorio No. 3</option>		
                                        <option value="19">consultyorio</option>		
                                        <option value="17">Dental</option>		
                                        <option value="38">dental</option>		
                                        <option value="6">dssa</option>		
                                        <option value="29">fgjhfgj</option>		
                                        <option value="9">General</option>		
                                        <option value="37">hola</option>		
                                        <option value="5">jose</option>		
                                        <option value="32">juan</option>		
                                        <option value="22">kkkkkkkkkkkkkk</option>		
                                        <option value="25">La Morazan</option>		
                                        <option value="31">pedriatia</option>		
                                        <option value="26">Proyecto 1</option>		
                                        <option value="41">pruebas flo</option>		
                                        <option value="20">sala 1</option>		
                                        <option value="28">sala A</option>		
                                        <option value="30">sdsf</option>		
                                        <option value="24">Su Medico</option>		
                                        <option value="27">thumbs</option>		
                                    </select>
                                </div>
                            </div>

                            <div class="row ">

                                <div class="col-md-12 form-group">
                                    <label for="observacion">Observación</label>
                                    <textarea class="form-control" name="observacion" id="observacion" maxlength="255"></textarea>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="guardar_datos" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form> <form  method="post" id="update_register" name="update_register" >
            <!-- Modal -->
            <div class="modal fade" id="modal_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Editar Cita</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row ">
                                <div class="col-md-6 form-group">
                                    <label for="fecha_edit">Fecha</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker"  id="fecha_edit" name="fecha_edit" required maxlength="10">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="hidden" name="id_edit" id="id_edit">
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="hora_edit">Hora</label>
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="hora_edit" name="hora_edit" type="text" class="form-control timepicker" required>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-12  form-group ">
                                    <label for="id_paciente_edit">Paciente</label>
                                    <select class="form-control select2" name="id_paciente_edit" id="id_paciente_edit" required>

                                    </select>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="id_medico_edit">Médico</label>
                                    <select name="id_medico_edit" id="id_medico_edit" class="form-control" required>
                                        <option value="">-- Selecciona --</option>
                                        <option value="25">1sariah 1sariah</option>		
                                        <option value="32">Carlos  Aguirre Salcedo</option>		
                                        <option value="23">Carlos Andres Aguirre Salcedo</option>		
                                        <option value="29">Diana  de la Vega</option>		
                                        <option value="24">Elizabeth Rosalía</option>		
                                        <option value="14">hola hola123</option>		
                                        <option value="13">Irma Rosales</option>		
                                        <option value="9">Jesus Fernandez</option>		
                                        <option value="26">Juan Perez</option>		
                                        <option value="1">juan eeee</option>		
                                        <option value="8">Juan Odebrecht</option>		
                                        <option value="4">Juan Perez</option>		
                                        <option value="2">Juan Cristian Alvarez Damian</option>		
                                        <option value="16">luis cornejos</option>		
                                        <option value="5">luis alonso</option>		
                                        <option value="6">Luis Roma</option>		
                                        <option value="20">mariana lovera</option>		
                                        <option value="7">Mario Odebrecht</option>		
                                        <option value="3">Mario Andres Soto Arce</option>		
                                        <option value="22">messi Acosta</option>		
                                        <option value="27">Miramar Garrido</option>		
                                        <option value="17">peru LOVERA</option>		
                                        <option value="30">pruebas a pruebas b</option>		
                                        <option value="12">ramon23 argañaraz</option>		
                                        <option value="10">rene villa</option>		
                                        <option value="28">RICARDO SÁNCHEZ GARCÍA</option>		
                                        <option value="15">teste teste</option>		
                                        <option value="21">yuikuy yugikyugi</option>		
                                    </select>
                                </div>

                            </div>

                            <div class="row ">

                                <div class="col-md-12 form-group">
                                    <label for="id_consultorio_edit">Consultorio</label>
                                    <select name="id_consultorio_edit" id="id_consultorio_edit" class="form-control" required>
                                        <option value="">-- Selecciona --</option>
                                        <option value="43">1Cofradia</option>		
                                        <option value="35">1Cofradia</option>		
                                        <option value="34">1Montelimar</option>		
                                        <option value="23">2222</option>		
                                        <option value="7">Basic</option>		
                                        <option value="33">BASIC</option>		
                                        <option value="14">basic</option>		
                                        <option value="11">caracas 1</option>		
                                        <option value="15">caracas 1</option>		
                                        <option value="39">CELESTINO FELIX</option>		
                                        <option value="40">Central Juarez</option>		
                                        <option value="42">Cesarrrrr</option>		
                                        <option value="10">COnsukltorio</option>		
                                        <option value="18">CONSULTORIO 1</option>		
                                        <option value="2">Consultorio No 1</option>		
                                        <option value="1">Consultorio No 2</option>		
                                        <option value="16">Consultorio No. 3</option>		
                                        <option value="19">consultyorio</option>		
                                        <option value="17">Dental</option>		
                                        <option value="38">dental</option>		
                                        <option value="6">dssa</option>		
                                        <option value="29">fgjhfgj</option>		
                                        <option value="9">General</option>		
                                        <option value="37">hola</option>		
                                        <option value="5">jose</option>		
                                        <option value="32">juan</option>		
                                        <option value="22">kkkkkkkkkkkkkk</option>		
                                        <option value="25">La Morazan</option>		
                                        <option value="31">pedriatia</option>		
                                        <option value="26">Proyecto 1</option>		
                                        <option value="41">pruebas flo</option>		
                                        <option value="20">sala 1</option>		
                                        <option value="28">sala A</option>		
                                        <option value="30">sdsf</option>		
                                        <option value="24">Su Medico</option>		
                                        <option value="27">thumbs</option>		
                                    </select>
                                </div>
                            </div>

                            <div class="row ">

                                <div class="col-md-12 form-group">
                                    <label for="observacion_edit">Observación</label>
                                    <textarea class="form-control" name="observacion_edit" id="observacion_edit" maxlength="255"></textarea>
                                </div>
                            </div>

                            <div class="row ">

                                <div class="col-md-12 form-group">
                                    <label for="estado_edit">Estado de la cita</label>
                                    <select name="estado_edit" id="estado_edit" class="form-control" required>
                                        <option value="">-- Selecciona --</option>
                                        <option value="1">Asignado</option>
                                        <option value="2">Atendido</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="actualizar_datos" class="btn btn-primary">Actualizar datos</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>  
        <div class="wrapper">
            <header class="main-header">

                <!-- Logo -->
                <a href="index.php" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>M</b>SYS</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Medical </b>System</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">


                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="dist/img/admin.png" class="user-image" alt="User Image">
                                    <span class="hidden-xs">Obed Alvarado</span>
                                </a>
                                <ul class="dropdown-menu">

                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="dist/img/admin.png" class="img-circle" alt="User Image">
                                        <p>
                                            Obed Alvarado		
                                            <small>Administrador</small>
                                        </p>
                                    </li>

                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">

                                        </div>
                                        <div class="pull-right">
                                            <a href="login.php?logout" class="btn btn-danger btn-flat"><i class='fa fa-power-off'></i> Salir</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="dist/img/admin.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>Obed Alvarado</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <br><br>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MENÚ</li>
                        <li class="">
                            <a href="index.php">
                                <i class="fa fa-home"></i> <span>Inicio</span> 
                            </a>

                        </li>


                        <li class="active">
                            <a href="citas.php">
                                <i class="fa fa-medkit"></i> <span>Citas</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="medicos.php">
                                <i class="fa fa-user-md"></i> <span>Médicos</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="pacientes.php">
                                <i class="fa fa-users"></i> <span>Pacientes</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="consultorios.php">
                                <i class="fa fa-hospital-o"></i> <span>Consultorios</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="especialidades.php">
                                <i class="fa fa-stethoscope"></i> <span>Especialidades</span>
                            </a>
                        </li>




                        <li class=" treeview">
                            <a href="#">
                                <i class="glyphicon glyphicon-signal"></i> <span>Reportes</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class=""><a href="reporte_citas_pacientes.php"><i class="fa fa-bar-chart"></i> Citas por pacientes</a></li>
                                <li class=""><a href="reporte_citas_medicos.php"><i class="fa fa-line-chart"></i> Citas por médicos</a></li>
                                <li class=""><a href="reporte_citas_consultorios.php"><i class="fa fa-bar-chart"></i> Citas por consultorios</a></li>
                                <li class=""><a href="reporte_citas_calendario.php"><i class="fa fa-line-chart"></i> Citas en calendario</a></li>
                            </ul>
                        </li>
                        <li class=" treeview">
                            <a href="#">
                                <i class="fa fa-wrench"></i> <span>Configuración</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class=""><a href="business_profile.php"><i class="glyphicon glyphicon-briefcase"></i> Perfil de la clinica</a></li>

                            </ul>
                        </li>
                        <li class=" treeview">
                            <a href="#">
                                <i class="fa fa-lock"></i> <span>Administrar accesos</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">

                                <li class=""><a href="group_list.php"><i class="glyphicon glyphicon-briefcase"></i> Grupos de usuarios</a></li>

                                <li class=""><a href="user_list.php"><i class="fa fa-users"></i> Usuarios</a></li>

                            </ul>
                        </li>


                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" value="01/02/2019 - 10/02/2019" id="range" readonly="" onchange="load(1)">
                            </div><!-- /input-group -->
                        </div>

                        <div class="col-md-3">
                            <select class="form-control select2 select2-hidden-accessible" name="q2" id="q2" onchange="load(1);" tabindex="-1" aria-hidden="true">
                                <option value="">Selecciona Paciente</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-q2-container"><span class="select2-selection__rendered" id="select2-q2-container" title="Selecciona Paciente">Selecciona Paciente</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <select name="q3" id="q3" class="form-control" onchange="load();">
                                    <option value="0">Selecciona estado</option>
                                    <option value="1">Asignado</option>	
                                    <option value="2">Atendido</option>		
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="load(1);"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->

                        </div>

                        <div class="col-md-1">
                            <div id="loader" class="text-center"></div>

                        </div>
                        <div class="col-md-2 ">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_register"><i class="fa fa-plus"></i> Nuevo</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mostrar
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li class="active" onclick="per_page(15);" id="15"><a href="#">15</a></li>
                                    <li onclick="per_page(25);" id="25"><a href="#">25</a></li>
                                    <li onclick="per_page(50);" id="50"><a href="#">50</a></li>
                                    <li onclick="per_page(100);" id="100"><a href="#">100</a></li>
                                    <li onclick="per_page(1000000);" id="1000000"><a href="#">Todos</a></li>
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" id="per_page" value="15">
                    </div>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div id="resultados_ajax"></div>
                    <div class="outer_div">	
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Listado de Citas</h3>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-condensed table-hover table-striped">
                                            <tbody><tr>
                                                    <th># </th>
                                                    <th>Fecha</th>
                                                    <th>Hora</th>
                                                    <th>Paciente</th>
                                                    <th>Médico</th>
                                                    <th>Consultorio</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>

                                                <tr>
                                                    <td>492</td>
                                                    <td>09/02/2019</td>
                                                    <td>11:30</td>
                                                    <td>Franklin Vasquez</td>
                                                    <td>Luis Roma</td>
                                                    <td>CELESTINO FELIX</td>
                                                    <td>
                                                        <span class="label label-warning">Asignado</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="09/02/2019" data-hora="11:30" data-id_paciente="8" data-id_medico="6" data-id_consultorio="39" data-observaciones="le duele la cabeza" data-estado="1" data-paciente="Franklin Vasquez" data-id="492"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('492')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>490</td>
                                                    <td>07/02/2019</td>
                                                    <td>14:59</td>
                                                    <td>Juan Jacinto Perez</td>
                                                    <td>luis cornejos</td>
                                                    <td>Consultorio No 1</td>
                                                    <td>
                                                        <span class="label label-warning">Asignado</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="07/02/2019" data-hora="14:59" data-id_paciente="19" data-id_medico="16" data-id_consultorio="2" data-observaciones="" data-estado="1" data-paciente="Juan Jacinto Perez" data-id="490"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('490')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>488</td>
                                                    <td>05/02/2019</td>
                                                    <td>04:15</td>
                                                    <td>AAAAAA BBBBBB</td>
                                                    <td>1sariah 1sariah</td>
                                                    <td>Basic</td>
                                                    <td>
                                                        <span class="label label-success">Atendido</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="05/02/2019" data-hora="04:15" data-id_paciente="63" data-id_medico="25" data-id_consultorio="7" data-observaciones="cvcvcvc" data-estado="2" data-paciente="AAAAAA BBBBBB" data-id="488"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('488')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>487</td>
                                                    <td>05/02/2019</td>
                                                    <td>19:00</td>
                                                    <td>Carlos Olivares</td>
                                                    <td>Carlos Andres Aguirre Salcedo</td>
                                                    <td>CONSULTORIO 1</td>
                                                    <td>
                                                        <span class="label label-success">Atendido</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="05/02/2019" data-hora="19:00" data-id_paciente="67" data-id_medico="23" data-id_consultorio="18" data-observaciones="" data-estado="2" data-paciente="Carlos Olivares" data-id="487"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('487')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>486</td>
                                                    <td>07/02/2019</td>
                                                    <td>13:30</td>
                                                    <td>Carlos Olivares</td>
                                                    <td>juan eeee</td>
                                                    <td>CONSULTORIO 1</td>
                                                    <td>
                                                        <span class="label label-success">Atendido</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="07/02/2019" data-hora="13:30" data-id_paciente="67" data-id_medico="1" data-id_consultorio="18" data-observaciones="122112" data-estado="2" data-paciente="Carlos Olivares" data-id="486"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('486')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>483</td>
                                                    <td>04/02/2019</td>
                                                    <td>11:45</td>
                                                    <td>Luis Campos</td>
                                                    <td>1sariah 1sariah</td>
                                                    <td>1Cofradia</td>
                                                    <td>
                                                        <span class="label label-success">Atendido</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="04/02/2019" data-hora="11:45" data-id_paciente="43" data-id_medico="25" data-id_consultorio="43" data-observaciones="" data-estado="2" data-paciente="Luis Campos" data-id="483"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('483')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>482</td>
                                                    <td>04/02/2019</td>
                                                    <td>11:45</td>
                                                    <td>Luis Campos</td>
                                                    <td>1sariah 1sariah</td>
                                                    <td>1Cofradia</td>
                                                    <td>
                                                        <span class="label label-success">Atendido</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="04/02/2019" data-hora="11:45" data-id_paciente="43" data-id_medico="25" data-id_consultorio="43" data-observaciones="" data-estado="2" data-paciente="Luis Campos" data-id="482"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('482')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>481</td>
                                                    <td>10/02/2019</td>
                                                    <td>10:30</td>
                                                    <td>Adrian Victor E. M.</td>
                                                    <td>Carlos  Aguirre Salcedo</td>
                                                    <td>Central Juarez</td>
                                                    <td>
                                                        <span class="label label-warning">Asignado</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="10/02/2019" data-hora="10:30" data-id_paciente="77" data-id_medico="32" data-id_consultorio="40" data-observaciones="algunas observaciones" data-estado="1" data-paciente="Adrian Victor E. M." data-id="481"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('481')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>480</td>
                                                    <td>10/02/2019</td>
                                                    <td>10:30</td>
                                                    <td>Adrian Victor E. M.</td>
                                                    <td>Carlos  Aguirre Salcedo</td>
                                                    <td>Central Juarez</td>
                                                    <td>
                                                        <span class="label label-warning">Asignado</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="10/02/2019" data-hora="10:30" data-id_paciente="77" data-id_medico="32" data-id_consultorio="40" data-observaciones="algunas observaciones" data-estado="1" data-paciente="Adrian Victor E. M." data-id="480"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('480')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>478</td>
                                                    <td>08/02/2019</td>
                                                    <td>23:45</td>
                                                    <td>1marlon 1marlon</td>
                                                    <td>1sariah 1sariah</td>
                                                    <td>Cesarrrrr</td>
                                                    <td>
                                                        <span class="label label-warning">Asignado</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="08/02/2019" data-hora="23:45" data-id_paciente="66" data-id_medico="25" data-id_consultorio="42" data-observaciones="hola" data-estado="1" data-paciente="1marlon 1marlon" data-id="478"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('478')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>477</td>
                                                    <td>02/02/2019</td>
                                                    <td>23:00</td>
                                                    <td>jorge jorge</td>
                                                    <td>pruebas a pruebas b</td>
                                                    <td>pruebas flo</td>
                                                    <td>
                                                        <span class="label label-warning">Asignado</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="fa fa-caret-down"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" data-toggle="modal" data-target="#modal_update" data-fecha="02/02/2019" data-hora="23:00" data-id_paciente="76" data-id_medico="30" data-id_consultorio="41" data-observaciones="revisar todo" data-estado="1" data-paciente="jorge jorge" data-id="477"><i class="fa fa-edit"></i> Editar</a></li>
                                                                <li><a href="#" onclick="eliminar('477')"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div><!-- /btn-group -->
                                                    </td>
                                                </tr>

                                            </tbody></table>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer clearfix">

                                        Mostrando 1 al 11 de 11 registros<ul class="pagination pagination-sm no-margin pull-right"><li class="disabled"><span><a>‹ Anterior</a></span></li><li class="active"><a>1</a></li><li class="disabled"><span><a>Siguiente ›</a></span></li></ul>					
                                    </div>
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->	


                    </div><!-- Datos ajax Final -->         
                </section>
            </div><!-- /.content-wrapper -->
        </div><!-- ./wrapper -->
        <!-- jQuery 2.1.4 -->
        <script src="/calendar/js/jQuery-2.1.4.min.js" type="text/javascript"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
                                                                                                                                                    $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="/javascripts/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <!-- Sparkline -->
        <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="/calendar/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/calendar/js/jquery-jvectormap-world-mill-en.js"></script>

        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="/calendar/js/daterangepicker.js"></script>
        <!-- datepicker -->
        <script src="/calendar/js/bootstrap-datepicker.js"></script>
        <!-- timepicker -->
        <script src="/calendar/js/bootstrap-timepicker.js"></script>

        <!-- Slimscroll -->
        <script src="/calendar/js/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="/calendar/js/fastclick.min.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="/calendar/js/app.min.js" type="text/javascript"></script>

        <!-- AdminLTE for demo purposes -->
        <script src="dist/js/demo.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
        <script src="/calendar/js/select2.full.min.js" type="text/javascript"></script>
    </body>
</html>

<script>
    function eliminar(id) {
        if (confirm('Esta acción  eliminará de forma permanente la cita \n\n Desea continuar?')) {
            var page = 1;
            var query = $("#range").val();
            var query2 = $("#q2").val();
            var query3 = $("#q3").val();
            var per_page = $("#per_page").val();
            var parametros = {"action": "ajax", "page": page, "query": query, 'query2': query2, 'query3': query3, "per_page": per_page, "id": id};

            $.ajax({
                url: './ajax/citas_ajax.php',
                data: parametros,
                beforeSend: function (objeto) {
                    $("#loader").html("<img src='./img/ajax-loader.gif'>");
                },
                success: function (data) {
                    $(".outer_div").html(data).fadeIn('slow');
                    $("#loader").html("");
                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                }
            })
        }
    }
</script>




<script>
    $('#new_register').validator().on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {
            $('#guardar_datos').attr("disabled", true);
            var parametros = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "ajax/registro/agregar_cita.php",
                data: parametros,
                beforeSend: function (objeto) {
                    $("#resultados_ajax").html("Enviando...");
                },
                success: function (datos) {
                    $("#resultados_ajax").html(datos);
                    $('#guardar_datos').attr("disabled", false);
                    load(1);
                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                    $('#modal_register').modal('hide');
                }
            });
            event.preventDefault();
        }
    })
</script>

<script>

    $('#update_register').validator().on('submit', function (e) {
        if (e.isDefaultPrevented()) {

        } else {

            var parametros = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "ajax/modificar/cita.php",
                data: parametros,
                beforeSend: function (objeto) {
                    $("#resultados_ajax").html("Enviando...");
                },
                success: function (datos) {
                    $("#resultados_ajax").html(datos);

                    load(1);
                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 5000);
                    $('#modal_update').modal('hide');
                }
            });
            event.preventDefault();
        }
    })






</script>
<script>
    $('#modal_update').on('show.bs.modal', function (event) {

        //Evito el error que al seleccionar la fecha dentro del modal se reseteen los campos
        //https://github.com/uxsolutions/bootstrap-datepicker/issues/978
        if (event.namespace === 'bs.modal') {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var fecha = button.data('fecha')
            var hora = button.data('hora')
            var id_medico = button.data('id_medico')
            var id_consultorio = button.data('id_consultorio')
            var observaciones = button.data('observaciones')
            var estado = button.data('estado')
            var id_paciente = button.data('id_paciente')
            var paciente = button.data('paciente')
            var id = button.data('id')
            $("#fecha_edit").val(fecha);
            $("#hora_edit").val(hora);
            $("#id_medico_edit").val(id_medico);
            $("#id_consultorio_edit").val(id_consultorio);
            $("#observacion_edit").val(observaciones);
            $("#estado_edit").val(estado);
            $("#id_edit").val(id);
            $("#id_paciente_edit").val(id_paciente);

            /*$('.select2').select2({
             placeholder: {
             id: ""+id_paciente+"", // the value of the option
             text: ""+paciente+""
             }, 
             width: '100%'
             });*/
            // Set the value, creating a new option if necessary








            var data = {
                id: id_paciente,
                text: paciente
            };

            var newOption = new Option(data.text, data.id, false, false);
            $('#id_paciente_edit').append(newOption).trigger('change.select2');




        }


    })


</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".select2").select2({
            ajax: {
                url: "ajax/pacientes_select2.php",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term // search term
                    };
                },
                processResults: function (data) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    return {
                        results: data
                    };
                },
                cache: true



            },
            minimumInputLength: 2,
            width: '100%'

        }).on('change', function (e) {
            load(1);
        })
    });

    $.fn.modal.Constructor.prototype.enforceFocus = function () {};



</script>