<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{{titulo}}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script-->
        <!-- Plantilla -->        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous"/>
        <link href="../stylesheets/login.css" rel="stylesheet" type="text/css"/>
        <!--=====================Funciones===============================================================-->
        <script src="../javascripts/funciones.js" type="text/javascript"></script>
        <!--=====================Validaciones=================================================================-->
        <script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>

        <style>
            label.error { float: none; color: #e5e5e5; padding-left: .5em; vertical-align: middle; font-size: 12px; }
        </style>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <!-- Plugin DataTable-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.css"/>



        <!-- Libraries CSS Files -->
        <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../lib/animate/animate.min.css" rel="stylesheet">
        <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../lib/style.css" rel="stylesheet" type="text/css"/>
        <script>
$(document).ready(function () {
    $("#fecha_nacimiento").change(function () {
        var edad = calcularEdad($("#fecha_nacimiento").val());
        $("#edad").val(edad);
    });
    $('#tabla').DataTable({
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });
});
        </script>
    </head>
    <body>

        <div class="click-closed"></div>


        <!--/ Nav Star /-->
        <nav  class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top ">
            <div class="container col-md-12">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand text-brand" href="/perfil">Sistema d<span class="color-b">e Homologacion</span></a>
                <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
                        data-target="#navbarTogglerDemo01" aria-expanded="false">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/menu/tramite"> Tramites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu/seguimiento">Seguimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu/plan">Plan de Estudios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/menu/malla">Malla Curricular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lista/silabos">Silabos</a>

                        </li>
                        <li class="nav-item">
                            <div class="panel-body">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Informacion</a>
                                <ul class="dropdown-menu" role="menu" >

                                    <li class="nav-item">
                                        <a class="nav-link" href="/listar/requisitos">Requisitos </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" >
                            <div class="panel-body" style="width: 30%;height: 20%">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{nombre}}</a>
                                <ul class="dropdown-menu" role="menu" style="background: #d8d8d8">
                                    <li><center><a class="col-md-10">  {{rol}}   </a></center></li>
                                    <li><center><a class="nav-item"><img style="width: 100%;height: 20%" src="/images/gallery/{{foto}}" class="user-image blog_post_img col-md-10" alt="User Image"></a></center></li>
                                    <br>
                                    <li class = "user-footer">
                                    <center>
                                        <a href="/perfil/usuario" class="btn btn-success ">Perfil</a>
                                        <a href="/cerrarSesion" class="btn btn-danger ">Salir</a> 
                                    </center>
                                    </li>

                                </ul>
                            </div>
                        </li>


                    </ul>

                </div>     
            </div>
        </nav>
        <!--/ Nav End /-->
     
    {{> (lookup . 'partial') }}

    <footer style="width: 100%">
        <div class="">
            <div class="row">
                <div class="col-md-12">

                    <div class="socials-a">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-footer">
                        <p class="copyright color-text-a">
                            &copy; Copyright<br>
                            <span class="color-a">J. Macas, J. Pezantes, J. Tandazo, V. Zambrano</span> .
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
                        -->
                        Designed by<br>
                        <a href="https://unl.edu.ec">josue.macas@unl.edu.ec</a><br>
                        <a href="https://unl.edu.ec">Edmundo.j.pezantes@unl.edu.ec</a><br>
                        <a href="https://unl.edu.ec">jorge.tandazo@unl.edu.ec</a><br>
                        <a href="https://unl.edu.ec">viviana.zambrano@unl.edu.ec</a><br>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ Footer End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
</body>

<!-- JavaScript Libraries -->
<script src="../lib/popper/popper.min.js"></script>
<script src="../lib/easing/easing.min.js"></script>
<script src="../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../lib/scrollreveal/scrollreveal.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- DATA TABLE -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>

<script src="../javascripts/funciones.js" type="text/javascript"></script>

</html>