
<div class="" >

    <div class="content"  >

        <div class=""  style="background: #bbb" >

            <div class=""  >

                <div class="content" style="margin-top: 1%; margin-right: 12%;margin-left: 12%"> 

                    <div class="table-responsive table table-hover" style="margin-top: 10%;background: #e5e5e5">           

                        <center>
                            {{#if msg}}
                            {{#if  msg.error}}
                            <center>
                                <label style="background: #FE2E2E">{{ msg.error}}</label>
                            </center>
                            {{/if}}
                            {{#if msg.info}}
                            <center>
                                <label style="background: #04B431">{{ msg.info}}</label>
                            </center>
                            {{/if}}
                            {{/if}}
                            <a class="navbar-brand text-brand" href="#" style="font-size: 40px">Lista d<span class="color-b">e Seguimientos</span></a>
                            <br>
                        </center>
                        <table id="tabla" class=" table table-hover table-responsive navbar-brand "  >

                            <thead class="color-b" style="text-align: center">                                         
                            <th>Nro</th>
                            <th>Tramite</th>
                            <th>Sumillacion</th>
                            <th>Revision Legal</th>
                            <th>Asignacion de Docente</th>
                            <th>Revision de Informacion</th>
                            <th>Estado</th>
                            </thead>

                            <tbody style="text-align: center">

                                {{#each this.Seguimiento  as |Seguimiento i|}}
                                <tr>
                                    <th>{{i}}</th> 

                                    <th>{{Seguimiento.registro}}</th>  
                                    {{#if  Seguimiento.revSolicitud}}
                                    <th  style="background: #FFC312">Revisado</th>

                                    {{else}}
                                    <th  style="background: #FE2E2E">En Espera</th>                    
                                    {{/if}}
                                    {{#if  Seguimiento.revSellos}}
                                    <th  style="background: #FFC312">Revisado</th>

                                    {{else}}
                                    <th  style="background: #FE2E2E">En Espera</th>                    
                                    {{/if}}
                                    {{#if  Seguimiento.asigDocente}}
                                    <th  style="background: #FFC312">{{Seguimiento.docente}}</th>

                                    {{else}}
                                    <th  style="background: #FE2E2E">No Asignado</th>                    
                                    {{/if}}
                                    {{#if  Seguimiento.revDocumentacion}}
                                    <th  style="background: #FFC312">Revisado</th>

                                    {{else}}
                                    <th  style="background: #FE2E2E">En Espera</th>                    
                                    {{/if}}
                                    {{#if  Seguimiento.estado}}
                                    <th  style="background: #FFC312">Aceptado</th>

                                    {{else}}
                                    <th  style="background: #FE2E2E">No Admitido</th>                    
                                    {{/if}}

                                </tr>
                                {{/each }}                        

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>  
</div> 

<div id="Form2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <center>
                <div class="modal-header" >

                    <h2 class="modal-title" style="margin-left: 15%">Estado de Solicitud</h2> 
                </div>
            </center>
            <div class="modal-body">
                <form action="/editar/consultas/" id="consultas" method="POST">

                    <input type="hidden"  id="external" name="external"/>
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" id="usuario"  readonly="">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select class="form-control" id="estado"  name="estado">
                            <option>Aceptada</option> 
                            <option>Denegada</option>
                        </select>
                    </div>

                    <div class="modal-footer col-md-12"> 
                        <button type="submit" class="btn btn-success col-md-6 " >Guardar</button>
                        <button type="button" class="btn btn-danger col-md-6"  data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
