<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{{titulo}}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script-->
        <!-- Plantilla -->        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous"/>
        <link href="../stylesheets/login.css" rel="stylesheet" type="text/css"/>
        <!--=====================Funciones===============================================================-->
        <script src="../javascripts/funciones.js" type="text/javascript"></script>
        <!--=====================Validaciones=================================================================-->
        <script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>

        <style>
            label.error { float: none; color: #e5e5e5; padding-left: .5em; vertical-align: middle; font-size: 12px; }
        </style>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


        <!-- Libraries CSS Files -->
        <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../lib/animate/animate.min.css" rel="stylesheet">
        <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../lib/style.css" rel="stylesheet" type="text/css"/>
        <script>
$(document).ready(function () {
    $("#fecha_nacimiento").change(function () {
        var edad = calcularEdad($("#fecha_nacimiento").val());
        $("#edad").val(edad);
    });

});
        </script>
    </head>
    <body>

        <div class="main">

            <!--/ Nav Star /-->
            <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
                <div class="table-responsive" >
                    <center>
                        <a class="navbar-brand text-brand" href="#" style="font-size: 300%">Sistema d<span class="color-b">e Homologacion</span></a>

                    </center>

                </div>
            </nav>
            <!--/ Nav End /-->

            <section>  
                {{#if msg}}
                {{#if  msg.error}}
                <center>
                    <label style="background: #FE2E2E">{{ msg.error}}</label>
                </center>
                {{/if}}
                {{#if msg.info}}
                <center>
                    <label style="background: #04B431">{{ msg.info}}</label>
                </center>
                {{/if}}
                {{/if}}
                {{> (lookup . 'partial') }}

                <!-- Sing in  Form -->
            </section>

            <footer style="width: 100%">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="socials-a">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="copyright-footer">
                                <p class="copyright color-text-a">
                                    &copy; Copyright<br>
                                    <span class="color-a">J. Macas, J. Pezantes, J. Tandazo, V. Zambrano</span> .
                                </p>
                            </div>
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
                                -->
                                Designed by<br>
                                <a href="https://unl.edu.ec">josue.macas@unl.edu.ec</a><br>
                                <a href="https://unl.edu.ec">Edmundo.j.pezantes@unl.edu.ec</a><br>
                                <a href="https://unl.edu.ec">jorge.tandazo@unl.edu.ec</a><br>
                                <a href="https://unl.edu.ec">viviana.zambrano@unl.edu.ec</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--/ Footer End /-->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
            <div id="preloader"></div>

        </div>

        <!-- JavaScript Libraries -->
        <script src="../lib/popper/popper.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/scrollreveal/scrollreveal.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <script src="../javascripts/funciones.js" type="text/javascript"></script>
    </body>
</html>
