<div id="main-slider" class="slider slide" style="margin-top: -7%;margin-bottom: 10%">
    <div class="slide slide-01">
        <div class="content">
            <div class="mask">
                <h1>BIENVENIDO</h1>    
                <h2>{{usuario.persona.nombres}} {{usuario.persona.apellidos}}</h2>   
                <h3>{{usuario.persona.rol.nombre}}</h3>   
            </div>
        </div>
    </div>
</div>
